<div class="card">
    <div class="card-header text-center">
      <h1>
        <a [routerLink]="['/articles']">
          <span>Cleverbit Software Exam</span>
        </a>
      </h1>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <a
            class="dev-name"
            href="https://linkedin.com/in/bergsonvalencia"
            title="https://linkedin.com/in/bergsonvalencia"
            target="_blank"
            ><h3>Bergson Valencia</h3></a
          >
        </div>
        <div class="text-center">@bergsonvalencia</div>
      </div>
    </div>
  </div>
  